<li id="comment_<%= comment.id %>" class="p-3 bg-gray-100 rounded-lg shadow">
  <strong class="text-[#343088]"><%= comment.user.name %>:</strong>
  <span class="text-gray-700"><%= comment.text_content %></span>
  <span class="text-red-500 text-lg">🔴</span>
</li>
